* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body{
  background-color: rgb(7, 29, 37);
}

.labels{
  display: none;
  grid-template-columns: 155px 1fr;
  min-width: 300px;
  row-gap: 10px;
  margin: 20px 0;
  font-weight: bold;
}

.container{
  width: 370px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 10%;
  border: 4px double black;
  border-radius: 10px;
  
}

.sub-container{
  width: 100%;
  padding: 20px;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.todo-input-grid{
  width: 320px;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  align-items: stretch;
  text-align: right;
  margin-bottom: 20px;
}



.title-input,
.description-input {
  font-size: 15px;
  padding: 6px;
  min-width: 100%;
  margin: 3px 0;
  
}

.add-todo-button {
  background-color: darkgreen;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 10px;
  
}

.save-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 5px 0 15px 222px;
  padding: 6px;
}

.title,
.description{
  display: inline-block;
  width: 150px;
  padding: 7.5px 0;
}

.js-edit-title,
.js-edit-description{
  display: inline-block;
  font-size: 15px;
  width: 158.5px;
  padding: 6px;
  background-color: transparent;
}


.todo-edit-button{
  background-color: orange;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px ;
  width: 40px;
  margin: 5px 0 0 222px;
}

.todo-delete-button {
  background-color: red;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  width: 55px;
  margin: 0 0 15px 0;
}


@media (min-width: 900px) {

  .container{
    width: 600px;
}

.todo-input-grid{
  width: 487px;
  display: grid;
  grid-template-columns: 1fr 1fr 55px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  align-items: stretch;
}

.title-input,
.description-input,
.js-edit-title,
.js-edit-description {
  font-size: 15px;
  padding: 6px;
  min-width: 100%;
  margin: 0;
  
}

.labels{
  display: grid;
  grid-template-columns: 216px 1fr;
  min-width: 300px;
  row-gap: 10px;
  margin: 20px 0;
  font-weight: bold;
}


.edit-todo-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 55px 55px;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 10px;
}

.todo-edit-button{
  background-color: orange;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 0;
  width: 55px;
  margin: 0;
}

.todo-delete-button {
  background-color: red;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 8px 0;
  border-radius: 5px;
  width: 55px;
  margin: 0;
}

.save-todo-grid{
  width: 487px;
  display: grid;
  grid-template-columns: 1fr 1fr 55px;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0 0 10px 0;
}

.save-todo-button{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}
}